<h2>My Employees</h2>
<ul class="employees">
  <li *ngFor="let emp of Employee">
    <button [class.selected]="emp === selectedEmployee" type="button" (click)="Onselect(emp)">
      <span class="badge">{{emp.id}}</span> {{emp.name}} {{emp.surname}}
    </button>
  </li>
</ul>

<div *ngIf="selectedEmployee">
  <h2>{{selectedEmployee.name | uppercase}} Details</h2>
  <div>id: {{selectedEmployee.id}}</div>
  <div>
    <label for="hero-name">Employee name: </label>
    <input id="hero-name" [(ngModel)]="selectedEmployee.name" placeholder="name">
    <input id="employee-surname" [(ngModel)]="selectedEmployee.surname" placeholder="surname">
  </div>
</div>